<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="flex justify-center items-center bg-gradient-to-t from-purple-50 to-purple-400">
    <form id="changePassword"
        class="w-full max-w-sm bg-gradient-to-t from-violet-50 via-fuchsia-50 to-purple-50 shadow-2xl rounded-2xl px-8 pt-6 pb-4">
        <div class="w-full my-3">
            <p class="block text-gray-500 font-gil text-center cursor-default mb-1 text-3xl"><b>CHANGE PASSWORD</b></p>
        </div>
        <div class="my-3">
            <div class="w-full">
                <label class="label" for="password">Password</label>
            </div>
            <div class="w-full container relative">
                <input class="input" id="password" name="password" type="password" placeholder="******************">
                <div class="w-5 absolute inset-y-2.5 right-3 cursor-pointer">
                    <img onclick="showpassword1();" id="eye1" src="image/close-eye.png">
                </div>
            </div>
        </div>
        <p class="error" id="p-error"></p>
        <div class="my-3">
            <div class="w-full">
                <label class="label" for="newPassword">New password</label>
            </div>
            <div class="w-full container relative">
                <input class="input" id="newPassword" name="newPassword" type="password"
                    placeholder="******************">
                <div class="w-5 absolute inset-y-2.5 right-3 cursor-pointer">
                    <img onclick="showpassword2();" id="eye2" src="image/close-eye.png">
                </div>
            </div>
        </div>
        <p class="error" id="n-error"></p>
        <div class="my-3">
            <div class="w-full">
                <label class="label" for="confirmPassword">Confirm
                    password</label>
            </div>
            <div class="w-full container relative">
                <input class="input" id="confirmPassword" name="confirmPassword" type="password"
                    placeholder="******************">
                <div class="w-5 absolute inset-y-2.5 right-3 cursor-pointer">
                    <img onclick="showpassword3();" id="eye3" src="image/close-eye.png">
                </div>
            </div>
        </div>
        <p class="error" id="c-error"></p>
        <div class="my-3">
            <div class="w-full flex items-center justify-center">
                <button
                    class="btn bg-stone-200 focus:shadow-outline focus:outline-none text-gray-500 hover:bg-gray-500 hover:text-stone-200">
                    Confirm
                </button>
            </div>
        </div>
        <div class="flex items-center mt-1">
            <a href="./homepage"
                class="w-full block hover:text-gray-700 text-gray-500 cursor-default font-bold font-gil text-left text-sm">Return</a>
        </div>
    </form>

    <div hidden id="success"
        class="w-full max-w-sm bg-gradient-to-t from-purple-50 via-fuchsia-50 to-violet-50 shadow-2xl rounded-2xl px-8 pt-6 pb-4">
        <div class=" relative conatiner p-4 pt-20 mmx-auto">
            <div class="w-14 absolute inset-y-2.5 right-[134px]">
                <img src="image/accept.png">
            </div>
            <div class="text-center">
                <h1 class="mtext-2xl text-base text-green-700 font-gil font-bold text-center">PASSWORD UPDATED
                    SUCCESSFULLY
                </h1>
                <div class="mt-4">
                    <div class="w-full flex items-center justify-center">
                        <button type="button" id="button"
                            class="z-50 btn bg-orange-200 focus:shadow-outline focus:outline-none text-gray-500 hover:bg-gray-500 hover:text-stone-200">
                            Return
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    //show password toggle
    const eye1 = document.getElementById("eye1")
    const eye2 = document.getElementById("eye2")
    const eye3 = document.getElementById("eye3")
    const password = document.getElementById("password")
    const newPassword = document.getElementById("newPassword")
    const confirmPassword = document.getElementById("confirmPassword");

    const showpassword1 = () => {
        if (password.type == "password") {
            password.setAttribute("type", "text");
            eye1.src = "image/eyes.png"
        } else {
            password.setAttribute("type", "password");
            eye1.src = "image/close-eye.png"
        }
    }
    const showpassword3 = () => {
        if (confirmPassword.type == "password") {
            confirmPassword.setAttribute("type", "text");
            eye3.src = "image/eyes.png"
        } else {
            confirmPassword.setAttribute("type", "password");
            eye3.src = "image/close-eye.png"
        }
    }
    const showpassword2 = () => {
        if (newPassword.type == "password") {
            newPassword.setAttribute("type", "text");
            eye2.src = "image/eyes.png"
        } else {
            newPassword.setAttribute("type", "password");
            eye2.src = "image/close-eye.png"
        }
    }


    // submit event for change password button
    const form = document.querySelector('form');
    form.addEventListener('submit',
        async (e) => {
            e.preventDefault();

            // get the values
            const error1 = document.getElementById("p-error")
            const error2 = document.getElementById("n-error")
            const error3 = document.getElementById("c-error")
            error1.innerHTML = ""
            error2.innerHTML = ""
            error3.innerHTML = ""
            const password = form.password.value;
            const newPassword = form.newPassword.value;
            const confirmPassword = form.confirmPassword.value;
            try {
                const res = await fetch("customers/update", {
                    method: 'PUT',
                    body: JSON.stringify({ password, newPassword, confirmPassword }),
                    headers: { 'Content-type': "application/json" },
                });

                const data = await res.json();
                switch (data.error) {
                    case "p-error":
                        error1.innerHTML = data.message;
                        break;
                    case "n-error":
                        error2.innerHTML = data.message;
                        break;
                    case "c-error":
                        error3.innerHTML = data.message;
                        break;
                }
                if (data.error == false) {
                    const alert = document.getElementById("success")
                    const hidden = document.getElementById("changePassword")
                    alert.removeAttribute("hidden")
                    hidden.setAttribute("hidden", true)
                }
            } catch (err) {
                console.log(err)
            }
        }
    )
    document.getElementById("button").addEventListener("click", myfunction);
    function myfunction() {
        window.location.replace("/homepage")
    }
</script>