<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="flex justify-center items-center bg-gradient-to-t from-rose-50 to-rose-400">
    <form id="resetPassword"
        class="w-full max-w-sm bg-gradient-to-t from-violet-50 via-pink-50 to-indigo-50 shadow-2xl rounded-2xl px-8 pt-6 pb-4">
        <div class="w-full my-3">
            <p class="block text-gray-500 font-gil text-center cursor-default mb-1 text-3xl"><b>RESET PASSWORD</b></p>
        </div>
        <input type="hidden" id="email" name="email">
        <div class="my-3">
            <div class="w-full">
                <label class="label" for="password">Password</label>
            </div>
            <div class="w-full container relative">
                <input class="input" id="password" name="password" type="password" placeholder="******************">
                <div class="w-5 absolute inset-y-2.5 right-3 cursor-pointer">
                    <img onclick="showpassword1();" id="eye1" src="/image/close-eye.png">
                </div>
            </div>
        </div>
        <p class="error" id="p-error"></p>
        <div class="my-3">
            <div class="w-full">
                <label class="label" for="confirmpassword">Confirm password</label>
            </div>
            <div class="w-full container relative">
                <input class="input" id="confirmpassword" name="confirmpassword" type="password"
                    placeholder="******************">
                <div class="w-5 absolute inset-y-2.5 right-3 cursor-pointer">
                    <img onclick="showpassword2();" id="eye2" src="/image/close-eye.png">
                </div>
            </div>
        </div>
        <p class="error" id="c-error"></p>
        <div class="my-3">
            <div class="w-full flex items-center justify-center">
                <button
                    class="btn bg-stone-200 focus:shadow-outline focus:outline-none text-gray-500 hover:bg-gray-500 hover:text-stone-200">
                    Confirm
                </button>
            </div>
        </div>
    </form>

    <div hidden id="success-page"
        class="w-full max-w-sm bg-gradient-to-t from-orange-50 via-yellow-50 to-lime-50 shadow-2xl rounded-2xl px-8 pt-6 pb-4">
        <div class=" relative conatiner p-4 pt-20 mmx-auto">
            <div class="w-14 absolute inset-y-2.5 right-[133px]">
                <img src="/image/tick.png">
            </div>
            <div class="text-center">
                <h1 class="mtext-2xl text-base text-gray-900 font-gil font-bold text-center">PASSWORD RESET SUCCESSFULLY
                </h1>
                <p class="text-gray-600 my-1">Click the button below to return to the login page</p>
                <div class="mt-4">
                    <div class="w-full flex items-center justify-center">
                        <button type="button" id="button"
                            class="z-50 btn bg-orange-200 hover:text-orange-200 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-gray-500">
                            Return
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    const eye1 = document.getElementById("eye1")
    const eye2 = document.getElementById("eye2")
    const password = document.getElementById("password")
    const confirmpassword = document.getElementById("confirmpassword");

    const showpassword1 = () => {
        if (password.type == "password") {
            password.setAttribute("type", "text");
            eye1.src = "/image/eyes.png"
        } else {
            password.setAttribute("type", "password");
            eye1.src = "/image/close-eye.png"
        }
    }
    const showpassword2 = () => {
        if (confirmpassword.type == "password") {
            confirmpassword.setAttribute("type", "text");
            eye2.src = "/image/eyes.png"
        } else {
            confirmpassword.setAttribute("type", "password");
            eye2.src = "/image/close-eye.png"
        }
    }

    const form = document.querySelector('form');
    form.addEventListener('submit',
        async (e) => {
            e.preventDefault();

            const error1 = document.getElementById("p-error")
            const error2 = document.getElementById("c-error")
            error1.innerHTML = ""
            error2.innerHTML = ""

            const email = form.email.value
            const password = form.password.value;
            const confirmpassword = form.confirmpassword.value;
            try {
                const res = await fetch(`${email}`, {
                    method: 'POST',
                    body: JSON.stringify({ password, confirmpassword }),
                    headers: { 'Content-type': "application/json" },
                });
                const data = await res.json();
                switch (data.error) {
                    case "p-error":
                        error1.innerHTML = data.message;
                        break;
                    case "c-error":
                        error2.innerHTML = data.message;
                        break;
                }
                if (data.error == false) {
                    const success = document.getElementById("success-page");
                    const hidden = document.getElementById("resetPassword")
                    success.removeAttribute("hidden");
                    hidden.setAttribute("hidden", true)
                }
            } catch (err) {
                console.log(err)
            }
        }
    )
    document.getElementById("button").addEventListener("click", myfunction);
    function myfunction() {
        window.location.replace("/login")
    }
</script>